#main {
  padding: 1rem;
  max-width: 100%;
}

#whitelist-nav {
  margin-right: 4px;
  margin-left: 4px;
}

#current-page {
  position: absolute;
  left: -100px;
  top: -100px;
  height: 1px;
  width: 1px;
}

img {
  max-width: 100%;
}

.container-fluid {
  max-width: 1300px;
}

header,
footer {
  width: 100%;
}

.table-wrap {
  overflow-y: auto;
}
.table-wrap table thead tr th {
  background: white;
}
.table-wrap table th {
  position: sticky;
  top: -4px;
}

.table td {
  vertical-align: middle;
}

.table th,
.table td.entity-name {
  font-weight: bold;
}

.table td.occured,
.table td.added {
  white-space: nowrap;
}

.table td.reason {
  text-align: left;
}

.tablesorter-header {
  cursor: pointer;
}

.tablesorter-header-inner {
  display: inline;
}

.tablesorter-headerUnSorted::after,
.tablesorter-headerAsc::after,
.tablesorter-headerDesc::after {
  font-family: "FontAwesome";
  padding-left: 10px;
}

.tablesorter-headerUnSorted::after {
  content: "\f0dc";
  color: #ddd
}

.tablesorter-headerAsc::after {
  content: "\f0de";
  color: #aaa
}

.tablesorter-headerDesc::after {
  content: "\f0dd";
  color: #aaa
}

@media screen and (max-width: 768px) {
  .table td.reason {
    min-width: 16rem;
    min-width: 80vw;
  }
}
